.block {
    display: block;
    width: 100%;
    border: 1px solid;
    background-color: #c7c7c6;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .boxed {
    border: 10px solid black ;
    background-color: rgba(106, 171, 187, 0.616);
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 10px;
  }
  .container {
    position: relative;
  }
  

  .monster {
    position: absolute;
    background-color: white;
    color: black;
    border: 2px solid;
    bottom: 600px;
    right:  180px;
  }
  

  .player{
      position: absolute;
      border: 2px solid;
      background-color: white;
      color: black;
      top: 250px;
      left: 250px;
  }